In [ ]:
result.head()  # 默认输出前五个

In [ ]:
# 方差 variance
result.var()

### DataFrame

In [2]:
import pandas as pd
import numpy as np

arr = np.arange(1,7).reshape(2,3)

df = pd.DataFrame(arr, columns = list('ABC'))
df

   A  B  C
0  1  2  3
1  4  5  6

In [3]:
# 数据添加：检索＋赋值
df['D'] = [4,7]
df

   A  B  C  D
0  1  2  3  4
1  4  5  6  7

In [7]:
df.loc[3] =[8,9,10,11]

In [8]:
# 删除：推荐查询方式过滤需要删除的数据
# df[带有条件值Series] 提取Series值，对应True值index检索数据

role = df['C'] >= 10
filted = df[role]
filted

   A  B   C   D
3  8  9  10  11

In [ ]:
# drop删除指定行或列
df.drop(2, axis = 0, inplace = True)  # 删除行  inplace = True删除并装回原df（保存）
df.drop('D',axis = 1)  # 删除列

### 导入导出数据

In [ ]:
# 去官网找DataFrame的to方法