In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder  # 预处理包中的标签编码器

In [6]:
df = pd.read_csv('adult.data',
                sep = ', ',
                #header=None,
                #index_col = False,
                names = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country','income'],
                #engine='python',
                )  # 使用python引擎，因为默认的c引擎不支持使用正则表达式分隔符

C:\Users\zdong\AppData\Local\Temp\ipykernel_2320\1608127637.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('adult.data',

In [7]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
#df.shape

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
#df.columns

In [7]:
#df.value_counts()

In [8]:
# df.describe(include='all')

In [9]:
#df.hist(bins = 50,color = 'red',figsize=(20,15))

In [10]:
df['income'] = df['income'].map({'<=50K':0,'>50K':1})
df['income']

0        0
1        0
2        0
3        0
4        0
        ..
32556    0
32557    1
32558    0
32559    0
32560    1
Name: income, Length: 32561, dtype: int64

In [11]:
# !pip install sweetviz

In [12]:
# import sweetviz as sv
# import warnings
# warnings.filterwarnings('ignore')  # 不显示警告

# my_report = sv.analyze(df,target_feat = 'income')
# my_report.show_html()

In [13]:
df.drop_duplicates(inplace=True)

In [14]:
df.query('workclass != "?" & occupation !="?" & native_country != "?"',inplace=True)

In [15]:
df.duplicated().sum()

0

In [16]:
df.shape

(30139, 15)

In [17]:
df.to_csv('adult_0.csv',index=False)

### 数据转换

In [18]:
#!pip install sklearn-pandas

In [19]:
from sklearn.preprocessing import OneHotEncoder,MinMaxScaler,StandardScaler
from sklearn_pandas import DataFrameMapper

In [20]:
mapper = DataFrameMapper([
    (['age',  'education_num', 'hours_per_week'], MinMaxScaler()),
    (['fnlwgt','capital_gain', 'capital_loss'],StandardScaler()),
    (['workclass'],OneHotEncoder()),
    (['education'],OneHotEncoder()),
    (['marital_status'],OneHotEncoder()),
    (['occupation'],OneHotEncoder()),
    (['relationship'],OneHotEncoder()),
    (['race'],OneHotEncoder()),
    (['sex'],OneHotEncoder()),
    ( 'native_country',LabelEncoder())
], df_out=True) 

transformed_df = mapper.fit_transform(df)
transformed_df.columns[:6]

Index(['age_education_num_hours_per_week_0',
       'age_education_num_hours_per_week_1',
       'age_education_num_hours_per_week_2',
       'fnlwgt_capital_gain_capital_loss_0',
       'fnlwgt_capital_gain_capital_loss_1',
       'fnlwgt_capital_gain_capital_loss_2'],
      dtype='object')

In [21]:
# transformed_df.columns[:6]

Index(['age_education_num_hours_per_week_0',
       'age_education_num_hours_per_week_1',
       'age_education_num_hours_per_week_2',
       'fnlwgt_capital_gain_capital_loss_0',
       'fnlwgt_capital_gain_capital_loss_1',
       'fnlwgt_capital_gain_capital_loss_2'],
      dtype='object')

In [22]:
# 更换列名
transformed_df.rename(columns = dict(zip(transformed_df.columns[:6],['age',  'education_num', 'hours_per_week','fnlwgt','capital_gain', 'capital_loss'])),inplace=True)
# transformed_df.columns

Index(['age', 'education_num', 'hours_per_week', 'fnlwgt', 'capital_gain',
       'capital_loss', 'workclass_0', 'workclass_1', 'workclass_2',
       'workclass_3', 'workclass_4', 'workclass_5', 'workclass_6',
       'education_0', 'education_1', 'education_2', 'education_3',
       'education_4', 'education_5', 'education_6', 'education_7',
       'education_8', 'education_9', 'education_10', 'education_11',
       'education_12', 'education_13', 'education_14', 'education_15',
       'marital_status_0', 'marital_status_1', 'marital_status_2',
       'marital_status_3', 'marital_status_4', 'marital_status_5',
       'marital_status_6', 'occupation_0', 'occupation_1', 'occupation_2',
       'occupation_3', 'occupation_4', 'occupation_5', 'occupation_6',
       'occupation_7', 'occupation_8', 'occupation_9', 'occupation_10',
       'occupation_11', 'occupation_12', 'occupation_13', 'relationship_0',
       'relationship_1', 'relationship_2', 'relationship_3', 'relationship_4',
       'relationship_5', 'race_0', 'race_1', 'race_2', 'race_3', 'race_4',
       'sex_0', 'sex_1', 'native_country'],
      dtype='object')

In [23]:
# transformed_df

,age,education_num,hours_per_week,fnlwgt,capital_gain,capital_loss,workclass_0,workclass_1,workclass_2,workclass_3,...,relationship_4,relationship_5,race_0,race_1,race_2,race_3,race_4,sex_0,sex_1,native_country
0,0.301370,0.800000,0.397959,-1.062676,0.145925,-0.218673,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,38
1,0.452055,0.800000,0.122449,-1.007829,-0.147502,-0.218673,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,38
2,0.287671,0.533333,0.397959,0.244669,-0.147502,-0.218673,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,38
3,0.493151,0.400000,0.397959,0.425206,-0.147502,-0.218673,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,38
4,0.150685,0.800000,0.397959,1.406572,-0.147502,-0.218673,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,0.733333,0.377551,0.638926,-0.147502,-0.218673,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,38
32557,0.315068,0.533333,0.397959,-0.335246,-0.147502,-0.218673,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,38
32558,0.561644,0.533333,0.397959,-0.358567,-0.147502,-0.218673,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,38
32559,0.068493,0.533333,0.193878,0.110688,-0.147502,-0.218673,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,38
32560,0.479452,0.533333,0.397959,0.928780,1.880305,-0.218673,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,38

In [24]:
X = transformed_df.values
y = df['income'].values

In [25]:
y

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [26]:
import pickle

with open('transformed_df.dat','wb') as f:
    pickle.dump((X,y),f)  # 存盘

### 数据集拆分

In [27]:
from sklearn.model_selection import train_test_split
# 将数据集分割为训练集与测试集
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

#### 观察样本数量

In [28]:
count_0 = np.count_nonzero(y_train == 0)
count_1 = np.count_nonzero(y_train == 1)

# 输出结果
print("Number of 0's:", count_0)
print("Number of 1's:", count_1)

Number of 0's: 18090
Number of 1's: 6021

In [29]:
#pip install -U imbalanced-learn

#### 对训练集重采样

In [30]:
#pip uninstall scikit-learn

In [31]:
#pip install scikit-learn

In [32]:
from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler(random_state = 44)
X_train_bal, y_train_bal = ros.fit_resample(X_train,y_train)

In [33]:
count_0 = np.count_nonzero(y_train_bal == 0)
count_1 = np.count_nonzero(y_train_bal == 1)

# 输出结果
print("Number of 0's:", count_0)
print("Number of 1's:", count_1)

Number of 0's: 18090
Number of 1's: 18090

### KFold

In [34]:
# from sklearn.model_selection import KFold

# kf = KFold(n_splits=4,shuffle = True,random_state = 44)
# accuracy = []

# for train_index, validate_index in kf.split(X_train, y_train):
#     train_x, train_y = X_train[train_index], y_train[train_index]
#     validate_x, validate_y = X_train[validate_index], y_train[validate_index]
#     print("Train:", train_x, train_y, "validate:", validate_x, validate_y)

### 决策树

In [50]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(criterion='gini',random_state=25)

In [72]:
from sklearn.model_selection import GridSearchCV

# 设置参数网格（字典），定义要搜索的参数范围
param_grid = {'max_depth':list(range(30,50))
             }

dt = DecisionTreeClassifier(criterion='gini',random_state=25)
# 创建 GridSearchCV 对象
grid_search = GridSearchCV(dt, param_grid, cv=5,scoring='accuracy')

# 在数据集上进行网格搜索和交叉验证
grid_search.fit(X_train_bal, y_train_bal)

# 输出最佳参数和最佳模型得分
print("最佳参数组合：", grid_search.best_params_)
print("最后得分：", grid_search.best_score_)

zh = pd.DataFrame(grid_search.cv_results_)
zh.to_excel('gs_results.xlsx', index = False)

最佳参数组合： {'max_depth': 47}
最后得分： 0.9201492537313433

In [57]:
dt = DecisionTreeClassifier(criterion='gini',max_depth = 47,random_state=25)
dt.fit(X_train_bal, y_train_bal)
dt.score(X_test,y_test)

0.8130391506303916

## 模型评估

In [75]:
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings("ignore")

clf = LogisticRegression(C=0.5,penalty='l1',solver='saga',tol=0.001)
clf.fit(X_train_bal,y_train_bal)

y_pred = clf.predict(X_test)

In [77]:
m = confusion_matrix(y_test,y_pred)
m

array([[3590,  953],
       [ 236, 1249]], dtype=int64)